<br>
<div class="row featurette">
  <div class="col-md-5">
  	<%= image_tag "map.png" %>
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">台北花園大酒店</h2>
    <p class="lead">
      <%= link_to("台北市中正區中華路二段1號", "https://www.google.com.tw/maps/place/台北市中正區中華路二段1號", target: "_blank") %>
      <br>(02) 2314-6611
    </p>
  </div>
</div>

<br><br>
<div>
  <%= image_tag "map3.jpg" %>
</div>
<br><br>

<div class="row featurette">
  <div class="col-md-12">
  	<h2 class="featurette-heading">交通資訊</h2>
  </div>
  <div class="col-md-6">    
    <p class="lead">
      <span class="text-muted">捷運</span><br>
      <span>小南門線<font color="#3E97D1">小南門站2號出口</font></span><br>
      <span>步行約3分鐘，至中華路愛國西路口即可到達。</span>
      <br><br>
      <span>板南線<font color="#3E97D1">西門捷運站2號出口</font></span><br>
      <span>步行約5分鐘，至中華路愛國西路口即可到達。</span>
    </p>
    <div class="col-md-12">
  	  <%= image_tag "map2.png" %>
  	</div>
  </div>

  <div class="col-md-6">
  	<p class="lead">
	  <span class="text-muted">公車</span><br>
	  <span>搭乘12、202、212、212(直行車)、223、250、260、307、、667、670、671、673、812、246、249、604、246、253、205、242於「<font color="#3E97D1">聯合醫院和平院區站</font>」下車步行約1分鐘即可抵達。</span>
	  <br><br>
	  <span>搭乘9、218、231、234、263、265、302、310、628、651、656、657、658、601、701、702、703、705於「<font color="#3E97D1">小南門站</font>」下車步行約3分鐘。</span>
	  <br><br>
	  <span>搭乘38、206、252、262、270、304承德線、304重慶線、604、660於「<font color="#3E97D1">小南門和平院區站</font>」下車步行約2分鐘至中華路與愛國西路口即可到達。</span><br>
   </p>
  </div>
</div>
<br>