<br>
<div class="row featurette">
    <div class="col-md-5">
        <%= image_tag "https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-prn2/t1.0-9/1939766_771742416188004_1581810401_n.jpg", :class => "circular_big" %>
    </div>
    <div class="col-md-6 col-md-offset-1">
    	<h2 class="featurette-heading">
          <font color="#3E97D1">沈正晧 </font>
          <span class="text-muted">資管四甲</span>
        </h2>
        <p class="lead">0978-375-615<br>s61817002@yahoo.com.tw</p>
    </div>
</div>

<br><hr><br>

<div class="row featurette"> 
    <div class="col-md-5 col-md-offset-1">
    	<h2 class="featurette-heading">
          <font color="#3E97D1">林祺翔 </font>
          <span class="text-muted">資管四甲</span>
        </h2>
        <p class="lead">0970-309-859<br>mynameisnoproblem@gmail.com</p>
    </div>
    <div class="col-md-6">
        <%= image_tag "https://scontent-b-sjc.xx.fbcdn.net/hphotos-frc3/t1.0-9/537607_379453788778127_561925494_n.jpg", :class => "circular_big" %>
    </div>
</div>

<br><hr><br>

<div class="row featurette">
    <div class="col-md-5">
        <%= image_tag "https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash3/t1.0-9/992996_680648581950757_223908945_n.jpg", :class => "circular_big" %>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <h2 class="featurette-heading">
          <font color="#3E97D1">王大雄 </font>
          <span class="text-muted">資管四乙</span>
        </h2>
        <p class="lead">0935-881-717<br>beardada0916@gmail.com</p>
    </div>
</div>

<br><hr><br>

<div class="row featurette"> 
    <div class="col-md-5 col-md-offset-1">
        <h2 class="featurette-heading">
          <font color="#3E97D1">曾宇澤 </font>
          <span class="text-muted">資管四乙</span>
        </h2>
        <p class="lead">0975-831-568<br>prankcatax@gmail.com</p>
    </div>
    <div class="col-md-6">
        <%= image_tag "https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash3/t1.0-9/1385158_762153567134802_769922508_n.jpg", :class => "circular_big" %>
    </div>
</div>

<br>   