<div class="row featurette">
    <div class="col-md-5">
        <%= image_tag "man.png" %>
    </div>
    <div class="col-md-5 col-md-offset-2">
    	<h2 class="featurette-heading">
          <font color="#3E97D1">沈正晧 </font>
          <span class="text-muted">資管四甲</span>
        </h2>
        <p class="lead">0978-375-615<br>s61817002@yahoo.com.tw</p>
    </div>
</div>
<hr><br>
<div class="row featurette"> 
    <div class="col-md-6 col-md-offset-1">
    	<h2 class="featurette-heading">
          <font color="#3E97D1">曾宇澤 </font>
          <span class="text-muted">資管四乙</span>
        </h2>
        <p class="lead">0975-831-568<br>prankcatax@gmail.com</p>
    </div>
    <div class="col-md-5">
        <%= image_tag "woman.png" %>
    </div>
</div>
<br>   